body {
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}
.btn {
  width: fit-content;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: black ;
  /* border: 1px solid #FFF; */
  padding: 17px 20px;
  cursor: pointer;

}
